<nav>
  <div>
    <i class="fa-solid fa-lock"></i><a href="/dashboard">Members Only</a>
  </div>

  <div>
    <a href="/login">Login</a>
    <a href="/register">Register</a>
  </div>
</nav>
